[{:itonami.blueprint/social-impact [:local-jobs :evidence-based-decision-making], :itonami.blueprint/domain :services/statistical-analysis, :itonami.blueprint/required-technologies [:robotics :forms :audit-ledger], :itonami.blueprint/isco-08 "3314", :itonami.blueprint/name "Independent Statistical & Data Analysis Practice", :itonami.blueprint/governor :statistical-analysis-governor, :itonami.blueprint/robotics true, :db/id -1, :itonami.blueprint/status :public-oss, :itonami.blueprint/id "cloud-itonami-isco-3314", :itonami.blueprint/license "AGPL-3.0-or-later"}]